[Desktop Entry]
Name=Litman
Comment=A reference manager.
Exec=litman
Icon=application-pdf.png
Type=Application
Categories=Office;Education
Terminal=false